{% extends "base.html" %}
{% block title %}
Лента записей
{% endblock %}
{% block content %}
<!-- Перебираем в цикле все посты -->
<h1>Лента записей</h1>
{% for post in posts %}
  <ul>
      <li>Место: {{ post.location }}</li>
      <li>Дата: {{ post.date }}</li>
      <li>Категория: <a href="{% url 'blog:category_posts' post.category %}">{{ post.category }}</a></li>
      <p>{{ post.text|truncatewords:10 }}</p>
      <a href="{% url 'blog:post_detail' post.id %}">подробнее</a>
    {% if not forloop.last %}
    {% endif %}
  </ul>
{% endfor %}
{% endblock %}
